<configuration>

    <appender name="LOGSTASH_FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/logs.json</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/logs.%d{yyyy-MM-dd}.%i.json</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FEIGN_FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/feign-logs.json</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/feign-logs.%d{yyyy-MM-dd}.%i.json</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="ASYNC_LOGSTASH_FILE_JSON" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="LOGSTASH_FILE_JSON"/>
        <queueSize>1024</queueSize>
        <includeCallerData>true</includeCallerData>
    </appender>

    <appender name="FEIGN_ASYNC_LOGSTASH_FILE_JSON" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FEIGN_FILE_JSON"/>
        <queueSize>1024</queueSize>
        <includeCallerData>true</includeCallerData>
    </appender>

    <!-- For local testing -->
    <appender name="CONSOLE_LOGGER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- Main Logger -->
    <root level="info">
<!--        <appender-ref ref="ASYNC_LOGSTASH_FILE_JSON"/>-->
        <appender-ref ref="CONSOLE_LOGGER"/>
    </root>

    <!-- Feign Clients Logger -->
    <logger name="feign.client" level="DEBUG" additivity="false">
<!--        <appender-ref ref="FEIGN_ASYNC_LOGSTASH_FILE_JSON"/>-->
        <appender-ref ref="CONSOLE_LOGGER"/>
    </logger>

</configuration>